.screen {
  border: 1px solid white;
  border-radius: 8px;
  transition: all 0.5s linear;
  width: 80vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 50px;
}

.screen .ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #646cff;
  position: absolute;
  transition: all 0.5s linear;
}

.target {
  height: 150px;
  width: 150px;
  border: dashed blue;
  border-radius: 8px;
  margin-top: 40px;
}

.lower-action {
  display: flex;
  justify-content: space-around;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pressed {
  transform: scale(0.8);
  background-color: yellow;
  border: solid yellow;
}
