.column-table-container {
    color: #fff;
    margin-top: 50px;
    margin-left: 100px;
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-container label {
    padding: 20px;
    color: #fff;
}

.input-container input {
    color: #fff;
}

.grid {
    margin: 1rem auto;
}

.cell {
    width: 50px;
    height: 50px;
    padding-left: 0;
    color: #fff;
    border: 1px solid #fff;
}

