.password-container{
    margin-top: 80px;
    margin-right: 100px;
    color: #fff;
    width: 500px;
    height: 500px;
    border: 1px solid #fff;
    border-radius: 5px;
}

input {
    margin: 20px 55px;
    padding: 5px;
    width: 350px;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.progress-bar {
    height: 10px;
    width: 400px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 20px 55px;
}

.character-container label {
    padding: 20px;
}

.display-container span {
    display: flex;
    align-items: center;
    margin: 20px 55px;
    color: #fff;
}

.active {
    color: green;
}